#content {
    padding: 65px 0px 362px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.home-block {
    float: left;
    width: 32.6%;
    height: 280px;
    margin-right: 0;
    margin-bottom: 0;
    font-style: italic;
    color: #92907c;
}

 h2.category_name {
    font-size: 22px;
    color: #cac6a1;
    padding-bottom: 12px;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ffffff;
}

.et_menu_item {
    margin-bottom: 25px;
}
.home-block .thumb {
    display: block;
    float: left;
    position: relative;
    margin-right: 15px;
}
.home-block .item-image {
    margin-top: 6px;
    margin-left: 6px;
}
.home-block span.overlay {
    background: url(images/frame-food-menu.png) no-repeat;
    display: block;
    height: 73px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 69px;
}
span.price-tag {
    display: block;
    background: url(images/price-green.png) no-repeat bottom left;
    padding-left: 8px;
    position: absolute;
    top: 12px;
    left: -8px;
    font-size: 18px;
}
span.price-tag span {
    display: block;
    padding: 6px 9px 0 0;
    height: 31px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-style: normal;
}
h4 {
    font-size: 18px;
}
h1, h3, h4, h5, h6 {
    padding-bottom: 5px;
    color: #808080;
    letter-spacing: -1px;
    line-height: 1em;
    font-weight: normal;
}
.home-block h4.title a {
    font-size: 22px;
    text-decoration: none;
    color: #442917;
}
.home-block p {
    font-family: 'Georgia Italic',serif;
    font-size: 12px;
    line-height: 20px;
}

