<div id="left-area-location">
    <div id="location-left-area">


        <div class="info-block">
            <h2 class="category_name">Address</h2>
            Mladost 1 Al.Malinov 43 Sofia Bulgaria
        </div>

        <div class="info-block">
            <h2 class="category_name">
                Hours of operation
            </h2>
            <p>Monday-Friday: <span>10am-12pm</span></p>
            <p>Saturday-Sunday: <span>12am-12pm</span></p>
        </div>

        <div class="info-block">
            <h2 class="category_name">
                contact info
            </h2>
            <p>Email address: <span>info@mycuisine.com</span></p>
            <p>telephone: <span>359-234-6643</span></p>
            <p>fax: <span>359-664-2234</span></p>
        </div>



    </div>

</div> 	<!-- end #left-area -->
<div id="gmaps-border" class="location-page">
    <div id="gmaps-container"
         style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">

    </div>
</div>